html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; font-style: normal; }

body { text-align: left; }

caption,
th,
td { font-weight: normal; }

table, td, th { border-spacing: 0; }

blockquote:before,
blockquote:after,
q:before,
q:after { content: ""; }

blockquote,
q { quotes: "" ""; }

a img { border: none; }
a { text-decoration: none; }